// Specific CSS for your home-page
#div-home {
  margin-top: 170px;
  display: flex;
  justify-content: center;
}
#cover_home {
  transform: scale(1);
  width: 100%;
  object-fit: contain;

}

.container-title {

  h2 {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 70px;
    font-size: 2rem;
    line-height: 110%;
    font-weight: 500;
 }

}
