
  <%#= cl_image_tag "v1678790747", id:"cover_home", alt: "cover" %>
  <div id="div-home">
    <%= image_tag "Cover-home.png", id: "cover_home", alt: "cover" %>
  </div>
  <div class="container-title pt-3">
    <h2> Unleash the harmony of group blind tests ✨</h2>
    <%= link_to "Create a game", new_game_path, class: "btn_pink_lg" %>
  </div>
