<h1 class="pt-5">Game Ranking</h1>
<p>And the winner is...</p>






  <div>
    <% sorted_users_games = game.users_games.order(score: :desc).drop(3) %>
    <% sorted_users_games.each do |user_game| %>
    <div class="player_card d-flex flex-column">
      <div class="d-flex justify-content-between">
        <%= cl_image_tag user_game.user.photo.key, class:"profil_round" %>
        <div class="player_card_info d-flex justify-content-between">
          <p><%= user_game.user.nickname %></p>
          <p><strong><%= user_game.score %></strong></p>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <%= link_to "Create a new Game", new_game_path, class: "btn_pink_lg mt-3" %>
  <p class="link_join_party mt-3">If you don't want to be the game master, just wait for a link to join a game!</p>
