<h1 class="pt-5">Game Ranking</h1>
<p class="mb-5">And the winner is...</p>

      <div class="d-flex flex-column">
        <% sorted_users_games = game.users_games.order(score: :desc) %>
        <% sorted_users_games.each do |user_game| %>
        <div class="player_card">
            <%= cl_image_tag user_game.user.photo.key, class:"profil_round" %>
            <div class="player_card_info d-flex justify-content-between">
              <p><%= user_game.user.nickname %></p>
              <p><strong><%= user_game.score %></strong></p>
            </div>
        </div>
        <% end %>
      </div>
     <% end %>

  <%= link_to "Create a new Game", new_game_path, class: "btn_pink_lg mt-3" %>
  <p class="link_join_party mt-3">If you don't want to be the game master, just wait for a link to join a game!</p>
