
.bg_animation {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 107vh;
  width: 100%;
  background: linear-gradient(45deg, $app-dark, $app-light, $brand-900);
  background-size: 300% 300%;
  animation: color 20s ease-in-out infinite;

}

@keyframes color {
  0% {
    background-position: 93% 0%
  }
  50% {
      background-position: 0% 100%
  }
  100% {
      background-position: 93% 0%
  }
}
