

// .modal-content {

// }
// display: flex;
// justify-content: center;
// background: $bg-linear-gradient-02;
.modal-dialog {
  margin: 20px;
  background: $bg-linear-gradient-02;
  border-radius: 10px;
  box-shadow: (0px 6px 28px rgba(95, 95, 95, 0.6));
  padding: 230px 0px;
}

.modal-content {
  background: transparent;
  border: none;
}

.avatar-modale {
    display: flex;
    flex-direction: column;
    align-items: center;
    > #avatar {
    margin-top: 10px;
    border-radius: 100%;
    border: solid 2px transparent;
    border-color: transparent;
    height: 135px;
    width: 135px;
    box-shadow: (0px 6px 28px rgba(95, 95, 95, 0.6));
    // transform: scale(1.4);
    }

    > h3 {
      font-size: 20px;
      padding-top: 10px;
    }
  }

  .answers {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    font-size: 5em;

  }

  #wrong {
    color: $red;

  }
  #correct {
    color: $brand-900;

  }

  .btn-close {
    position: relative;
    top: -212px;
    left: 306px;
  }
