.player_card {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  .player_card_info {
    justify-content: space-between;
    height: 50px;
    margin-left: 10px;
    background-color: rgba(212, 212, 212, 1);
    border-radius: 10px;
    padding: 0px 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    p {
      color: $dark-900;
    }
  }

  .profil_round {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }

  .answer_refused {
    border: solid 2px $red;
    box-shadow: 0px 0px 25px $red;
  }

  .answer_accepted {
    border: solid 2px rgb(23, 224, 23);
    box-shadow: 0px 0px 25px rgb(23, 224, 23);
  }

  .player_results {
    padding-left: 0.5em;
  }
