.form-control {
  display: flex;
  width: 100%;
  padding: 0.400rem 0.90rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  font-style: italic;
  background-color: $dark-000;
  appearance: none;
  border-radius: 5px;

}

.form-control:focus {
  box-shadow: 0px 0px 15px $blue;
  border: solid 1px $blue;
}


#search-form {
  position: relative;
}

#search-btn {
  position: absolute;
  right: 10px;
  background-color: #D9D9D9;
  bottom: 5px;
  border: none;
}

.fade {
  transition: all .7s ease-in-out;
}
